<div class="about-us">

  <div class="description">Punkey News - это  сатирический новостной портал. Наши корреспонденты Джанни Родари и Мариуш Пудзяновский ежедневно находятся в поисках новостей, которые слишком хороши, чтобы о них писали обычные СМИ. Единственное чувство, на которое мы ориентируемся - это чувство юмора читателя. Остальные чувства могут быть задеты только по причине отсутствия физической, интеллектуальной или эмоциональной зрелости. В наших сюжетах все события придуманы, а герои вымышлены либо являются частью массовой культуры. Любые совпадения случайны и объясняются разве что гениальностью создателей.</div>


  <div class="celebs-about-us">Известные люди о Punkey News.</div>

  <div class="celeb-quote">Михаил Жванецкий: "Я не знаю, как им это удается, но иногда я смеюсь ртом, а иногда мозгами".</div>

  Илон Маск: "Однажды у меня спросят: "Илон, тебе удалось колонизировать Марс, почему твои глаза по-прежнему грустны?" И я отвечу: "Потому что я не был причастен к созданию Punkey News".

  EL Кравчук: "Если бы не моя занятость в шоу-бизнесе и плотный гастрольный график, я бы стремился попасть в их команду".

  Пабло Эскобар: "Punkey News - это самое яркое приключение в моей жизни. А у меня был неограниченный запас кокаина, денег и мою любовницу сыграла Пенелопа Крус".

  Даша Астафьева: "Вынуждена признать, что сексуальность их материалов превосходит мою собственную. Если, конечно, под сексуальностью мы подразумеваем не только подростковую эрекцию при виде женской груди”.

  Нестор Летописец: "Это лучшее, что случалось с Украиной  со времен запорожского казачества".

  Раздел контакты:

  По вопросам сотрудничества пишите сюда:

  punkeynews@punkey.news

  Повозмущаться или просто попиздеть пишите сюда:

  etotyashikniktonikogdaneotkroet@punkey.news

  Фото голых фанаток присылать сюда:

  fapongirls@punkey.news

  Фото голых фанатов присылать сюда:

  faponboys@punkey.news

  Фото необычной сыпи или как вас избил отчим присылайте сюда:

  stbnaydetchtosetimsdelat@punkey.news или fapongirls@punkey.news


  Фраза для ленты на главной странице:

  “Глеб, зафигач здесь напоминалку, мол, подписота, вот наши соц. сети”

</div>
