<div class="about-us container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <!--<div class="wrap">-->
        <!--<h1>Punkey News!</h1>-->
      <!--</div>-->
      <img src="{{logoLetters}}" alt="Big fat letters" class="logo-letters">
    </div>
  </div>
  <div class="">
    <div class="row">
      <div class="col-sm-12 about-us-description">
        <u>Punkey News</u> - это  сатирический новостной сайт. Наши корреспонденты Джанни Родари и Мариуш Пудзяновский ежедневно находятся в поисках новостей, которые слишком хороши, чтобы о них писали обычные СМИ. Единственное чувство, на которое мы ориентируемся - это чувство юмора читателя. Остальные чувства могут быть задеты только по причине отсутствия физической, интеллектуальной или эмоциональной зрелости. Все события придуманы, а герои вымышлены либо являются частью массовой культуры. Любые совпадения случайны и объясняются разве что гениальностью создателей.
        <br>
        <br>
        Дисклеймер: сюжеты наших новостей происходят исключительно в вымышленной, несуществующей реальности и не преследуют цели задеть чьи-то чувства или достоинства. В наших материалах мы говорим на любые темы и иногда используем грубую лексику, поэтому вам необходимо быть старше 18, если вы решитесь читать их.
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="they-are-talking text-center">
          О нас говорят
        </div>
      </div>
    </div>

    <div class="row celebs-about-us text-center">
      <div class="celeb-card col-sm-12 col-md-4">
        <div class="celeb-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b3/%D0%96%D0%B2%D0%B0%D0%BD%D0%B5%D1%86%D0%BA%D0%B8%D0%B9_%D0%9C%D0%B8%D1%85%D0%B0%D0%B8%D0%BB_%D0%9C%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D0%B8%D1%87.jpg'); background-position-x: -25px"></div>
        <div class="celeb-name">Михаил Жванецкий</div>
        <div class="celeb-status">Владелец офигенного портфеля</div>
        <hr class="celeb-hr">
        <div class="celeb-quote">"Я не знаю, как им это удается, но иногда я смеюсь ртом, а иногда мозгами"</div>
        <hr class="celeb-hr">
      </div>
      <div class="celeb-card col-sm-12 col-md-4">
        <div class="celeb-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Elon_Musk_2015.jpg/816px-Elon_Musk_2015.jpg')"></div>
        <div class="celeb-name">Илон Маск</div>
        <div class="celeb-status">Торговец огнемётами</div>
        <hr class="celeb-hr">
        <div class="celeb-quote">"Однажды у меня спросят: "Илон, тебе удалось колонизировать Марс, почему твои глаза по-прежнему грустны?" И я отвечу: "Потому что я не был причастен к созданию Punkey News"</div>
        <hr class="celeb-hr">
      </div>
      <div class="celeb-card col-sm-12 col-md-4">
        <div class="celeb-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7d/EL_%D0%9A%D1%80%D0%B0%D0%B2%D1%87%D1%83%D0%BA.jpg'); background-position-x: -50px"></div>
        <div class="celeb-name">EL Кравчук</div>
        <div class="celeb-status">Близкий товарищ Дэвида Линча</div>
        <hr class="celeb-hr">
        <div class="celeb-quote">"Если бы не моя занятость в шоу-бизнесе и плотный гастрольный график, я бы стремился попасть в их команду"</div>
        <hr class="celeb-hr">
      </div>
      <div class="celeb-card col-sm-12 col-md-4">
        <div class="celeb-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9a/Pablo_Escobar_Mug.jpg')"></div>
        <div class="celeb-name">Пабло Эскобар</div>
        <div class="celeb-status">Известный производитель муки</div>
        <hr class="celeb-hr">
        <div class="celeb-quote">"Punkey News - это самое яркое приключение в моей жизни. А у меня был неограниченный запас кокаина, денег и мою любовницу сыграла Пенелопа Крус"</div>
        <hr class="celeb-hr">
      </div>
      <div class="celeb-card col-sm-12 col-md-4">
        <div class="celeb-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/af/NIKITA-2008_08_04---5825.jpg')"></div>
        <div class="celeb-name">Даша Астафьева</div>
        <div class="celeb-status">Звезда твоих поллюций</div>
        <hr class="celeb-hr">
        <div class="celeb-quote">"Вынуждена признать, что сексуальность их материалов превосходит мою собственную. Если, конечно, под сексуальностью мы подразумеваем не только подростковую эрекцию при виде женской груди”</div>
        <hr class="celeb-hr">
      </div>
      <div class="celeb-card col-sm-12 col-md-4">
        <div class="celeb-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4f/Nestor_02.jpg')"></div>
        <div class="celeb-name">Нестор Летописец</div>
        <div class="celeb-status">Самый первый блогер</div>
        <hr class="celeb-hr">
        <div class="celeb-quote">"Это лучшее, что случалось с Украиной  со времен запорожского казачества"</div>
        <hr class="celeb-hr">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 punkey-license">
      Использование материалов Punkey News возможно только с разрешения редакции и при наличии активной ссылки на <a
      href="https://punkey.news">Punkey News</a>
    </div>
    <div class="col-sm-12 punkey-license">
      Все изображения в наших материалах используются исключительно в иллюстративных целях и имеют лицензию <a
      href="https://creativecommons.org/">Creative Commons</a>. Автор(правообладатель) указан рядом с изображениями.
    </div>
  </div>
  <div class="d-md-none back-button">
    <a [routerLink]="['/']">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
</div>
