<div class="contacts">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img src="{{logoLetters}}" alt="Big fat letters" class="logo-letters">
      </div>
      <div class="col-sm-12 contact">
        Для связи с редакцией и по вопросам сотрудничества пишите сюда: <strong>punkeynews@punkey.news</strong>
      </div>

      <div class="col-sm-12 contact">
        Повозмущаться или просто "поговорить за жизнь" пишите сюда: <strong>etotyashikniktonikogdaneotkroet@punkey.news</strong>
      </div>

      <div class="col-sm-12 contact">
        Фото голых фанаток присылать сюда: <strong>fapongirls@punkey.news</strong>
      </div>

      <div class="col-sm-12 contact">
        Фото голых фанатов присылать сюда: <strong>faponboys@punkey.news</strong>
      </div>

      <div class="col-sm-12 contact">
        Фото необычной сыпи или как вас избил отчим присылайте сюда: <strong>stbnaydetchtosetimsdelat@punkey.news</strong> или <strong>fapongirls@punkey.news</strong>
      </div>
    </div>
  </div>

  <div class="d-md-none back-button">
    <a [routerLink]="['/']">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>


</div>
