<div class="mobile d-md-none">
  <div class="subscribe-section">
    <div class="container">
      <div class="row text-center">
        <div class="ss-sb col-4">
          Подписаться
        </div>
        <div class="ss-fb col-4">
          <a href="https://www.facebook.com/punkeynews/" target="_blank">
            <i class="fab fa-facebook icon-share facebook"></i>
          </a>
        </div>
        <div class="ss-tg col-4">
          <a href="https://t.me/punkeynews" target="_blank">
            <i class="fab fa-telegram icon-share telegram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
