<div class="card topic-card">
  <div class="topic-image" [style.background-image]="'url(' + topic.cover.url + ')'"></div>
  <div class="card-img-overlay">
    <h4 class="topic-title">{{topic.title}}</h4>
    <!--<p class="card-text">Some example text.</p>-->
    <!--<a href="#" class="btn btn-primary">See Profile</a>-->
    <div class="topic-info">
      <span>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        {{topic.comments_count}}
      </span>
      <span>
        <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
        {{topic.visits}}
      </span>
    </div>
  </div>
</div>
