<div class="container">
  <div>
    <div class="row d-md-none logo-image">
      <a [routerLink]="['/topics']">
        <img src="{{logo}}" alt="Logo">
      </a>
    </div>
    </div>
  <div>
    <div class="row text-center">
      <div class="col-sm-12 d-md-none sidebar-burger text-center">
        <div class="burger-item">Меню</div>
        <div class="burger-item" (click)="navigate('about')">О нас</div>
        <div class="burger-item" (click)="navigate('contacts')">Контакты</div>
      </div>
    </div>
  </div>


  <div class="row">
    <div *ngIf="topics[0]" class="col-sm-12 col-md-12 topic-test-card">
      <a [routerLink]="['/topics', topics[0].id]">
        <app-topic [topic]="topics[0]"></app-topic>
      </a>
    </div>
    <div *ngIf="topics[1]" class="col-sm-12 col-md-6 topic-test-card">
      <a [routerLink]="['/topics', topics[1].id]">
        <app-topic [topic]="topics[1]"></app-topic>
      </a>
    </div>
    <div *ngIf="topics[2]" class="col-sm-12 col-md-6 col-lg-3 topic-test-card">
      <a [routerLink]="['/topics', topics[2].id]">
        <app-topic [topic]="topics[2]"></app-topic>
      </a>
    </div>
    <div *ngIf="topics[3]" class="col-sm-12 col-md-6 col-lg-3 topic-test-card">
      <a [routerLink]="['/topics', topics[3].id]">
        <app-topic [topic]="topics[3]"></app-topic>
      </a>
    </div>
    <div *ngIf="topics[4]" class="col-sm-12 col-md-6 col-lg-4 topic-test-card">
      <a [routerLink]="['/topics', topics[4].id]">
        <app-topic [topic]="topics[4]"></app-topic>
      </a>
    </div>
    <div *ngIf="topics[5]" class="col-sm-12 col-md-6 col-lg-4 topic-test-card">
      <a [routerLink]="['/topics', topics[5].id]">
        <app-topic [topic]="topics[5]"></app-topic>
      </a>
    </div>
    <div *ngIf="topics[6]" class="col-sm-12 col-md-6 col-lg-4 topic-test-card">
      <a [routerLink]="['/topics', topics[6].id]">
        <app-topic [topic]="topics[6]"></app-topic>
      </a>
    </div>
    <div class="join-us-email">
      Глеб, зафигач здесь напоминалку, что-то типа: подпишись, заклинаем тебя всеми силами интернета
      <div class="join-us-socials">
        <i class="fab fa-facebook icon-share facebook"></i>
        <i class="fab fa-telegram icon-share telegram"></i>
      </div>
    </div>
    <div *ngFor="let topic of topics | slice:6" class="col-sm-12 col-md-4 topic-test-card">
      <a [routerLink]="['/topics', topic.id]">
        <app-topic [topic]="topic"></app-topic>
      </a>
    </div>
  </div>
</div>
