@import "../app.component"

.logo-image
  margin: 5%
  background: white
  border-radius: 50%
  img
    width: 100%
    height: 100%

.feed-container
  margin: 0 75px
  @media(max-width: $small)
    margin: 0
  animation: fadeIn
  animation-duration: 0.5s

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

.topic-test-card
  padding: 15px

.join-us-email
  width: 100%
  //background: linear-gradient(90deg, #42275a, #734b6d)
  background: #42275a
  padding: 10px
  text-align: center
  color: white
  font-size: 16px
  margin: 5px 15px

.join-us-socials
  a
    color: white
  font-size: 50px
  i
    margin: 10px

.quote
  margin-top: 15px
  margin-bottom: 15px
  border-left: 10px solid #35035C
  width: 100%
  background: linear-gradient(90deg, #42275a, #734b6d)
  color: white
  .phrase
    padding: 10px
  .essence
    font-size: 16px
    padding: 10px
  .author
    text-align: right

.small-quote
  background: linear-gradient(90deg, #42275a, #734b6d)
  //font-family: 'Marck Script', cursive
  margin: 0 15px
  color: white
  img
    border-radius: 50%
    height: 150px
  .phrase
    padding: 10px 0
  .quote-day
    padding: 10px 0

.line
  border-bottom: 1px solid rgba(255,255,255,0.5)
  margin: 5px 0

.sidebar-burger
  height: 65px
  overflow: hidden
  transition: 0.3s
  .burger-item
    font-size: 40px
    font-weight: 100
    color: black
    &:hover
      background: #665091
      color: white
      transition: 0.3s
  &:hover
    height: 180px
    transition: 0.3s
