@import "../app.component"

.feed-container
  //margin: 0 15px
  margin-right: 15px

.topic-test-card
  padding-top: 30px

.join-us
  width: 100%
  background: #462e74
  padding: 15px
  text-align: center
  color: white
  font-size: 25px
  margin: 15px 15px 0 15px

