$small: '768px'

.main-container
  font-family: 'Roboto Condensed', sans-serif
  margin-left: 20%
  width: 80%
  @media(max-width: $small)
    margin-left: 0
    width: 100%

.hidden-sm
  @media(max-width: $small)
    display: none

.no-margin
  margin: 0

.no-padding
  padding: 0
