<div class="row">
  <div class="sidebar d-none d-sm-block">
    <div>
      <div class="logo-image">
        <a [routerLink]="['/topics']">
          <img src="{{logo}}" alt="Logo">
        </a>
      </div>
      <div class="sidebar-list text-left">
        <div class="info-container">
          <a [routerLink]="['/about/']">
            <div class="div-container animation">
              О нас
            </div>
          </a>
          <a [routerLink]="['/contacts']">
            <div class="div-container">
              Контакты
            </div>
          </a>
          <div class="join-us-socials">
            <a href="https://www.facebook.com/punkeynews/">
              <i class="fab fa-facebook icon-share facebook"></i>
            </a>
            <i class="fab fa-telegram icon-share telegram"></i>
          </div>
          <!--<div class="div-container">- Сокиабле -</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
