<div class="row">
  <div class="sidebar d-none d-sm-block">
    <div>
      <div class="logo-image">
        <a href="/">
          <img src="{{logo}}" alt="Logo">
        </a>
      </div>
      <div class="sidebar-list text-left">
        <!--<div class="list-item">Войти</div>-->
        <!--<div class="list-item">Регистрация</div>-->
        <!--<a [routerLink]="['/about']">-->
          <!--<div class="about-us">-->
            <!--<i class="far fa-question-circle"></i>-->
            <!--Кто мы-->
          <!--</div>-->
        <!--</a>-->
        <!--<a [routerLink]="['/about']">-->
          <!--<div class="contacts">-->
            <!--<i class="fas fa-envelope"></i>-->
            <!--Свяжись-->
          <!--</div>-->
        <!--</a>-->
        <!--<a [routerLink]="['/about']">-->
          <!--<div class="join-us">-->
            <!--<i class="fas fa-hand-spock"></i>-->
            <!--Примкни-->
          <!--</div>-->
        <!--</a>-->
        <div class='square-box about-us'>
          <div class='square-content'>
            <div class="square-content-essence">
              <div class="center-content">
                <i class="far fa-question-circle"></i>
                <div class="sidebar-item-text">Кто мы</div>
              </div>
            </div>
          </div>
        </div>

        <div class='square-box join-us'>
          <div class='square-content'>
            <div class="square-content-essence">
              <div class="center-content">
                <i class="fas fa-hand-spock"></i>
                <div class="sidebar-item-text">Примкни</div>
              </div>
            </div>
          </div>
        </div>

        <div class='square-box contacts'>
          <div class='square-content'>
            <div class="square-content-essence">
              <div class="center-content">
                <i class="fas fa-envelope"></i>
                <div class="sidebar-item-text">Свяжись</div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
