@import '../app.component'

.topic-background
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  width: 100%
  height: 400px

.topic-page-title
  text-align: center
  font-size: 30px
  padding-top: 30px
  padding-bottom: 20px

.topic-extra-info
  text-align: center
  font-size: 20px
  padding-bottom: 30px

.topic-page-text
  padding: 0 100px
  text-align: justify
  @media(max-width: $small)
    padding: 0 15px

.topic-page-author
  text-align: right
  padding: 10px 115px 10px 0
  font-style: italic
  @media(max-width: $small)
    padding: 10px 15px

.topic-page-date
  text-align: right
  padding: 30px 100px 10px 0
  font-style: italic
  @media(max-width: $small)
    padding: 10px 15px

.back-button
  height: 100px
  width: 100px
  border-radius: 50%
  position: fixed
  bottom: 15px
  right: 15px
  background: rgba(115,78,231,0.5)
  display: flex
  justify-content: center
  align-items: center
  font-size: 30px
  transition: 0.3s
  a
    color: black
  &:hover
    background: rgba(115,78,231,1)
    transition: 0.3s
